.css_id_tecnico_det_label {text-align: left;vertical-align: middle;}
.css_id_tecnico_det_line {height:0px;text-align: left;}
.css_nome_tecnico_det_label {text-align: left;vertical-align: middle;}
.css_nome_tecnico_det_line {height:0px;text-align: left;}
.css_email_tecnico_det_label {text-align: left;vertical-align: middle;}
.css_email_tecnico_det_line {height:0px;text-align: left;}
.css_fone_tecnico_det_label {text-align: left;vertical-align: middle;}
.css_fone_tecnico_det_line {height:0px;text-align: left;}
.css_usuario_login_det_label {text-align: left;vertical-align: middle;}
.css_usuario_login_det_line {height:0px;text-align: left;}
