.css_id_cliente_det_label {text-align: left;vertical-align: middle;}
.css_id_cliente_det_line {height:0px;text-align: left;}
.css_nome_cliente_det_label {text-align: left;vertical-align: middle;}
.css_nome_cliente_det_line {height:0px;text-align: left;}
.css_email_cliente_det_label {text-align: left;vertical-align: middle;}
.css_email_cliente_det_line {height:0px;text-align: left;}
.css_fone_cliente_det_label {text-align: left;vertical-align: middle;}
.css_fone_cliente_det_line {height:0px;text-align: left;}
.css_endereco_cliente_det_label {text-align: left;vertical-align: middle;}
.css_endereco_cliente_det_line {height:0px;text-align: left;}
.css_cidade_cliente_det_label {text-align: left;vertical-align: middle;}
.css_cidade_cliente_det_line {height:0px;text-align: left;}
.css_estado_cliente_det_label {text-align: left;vertical-align: middle;}
.css_estado_cliente_det_line {height:0px;text-align: left;}
.css_pais_cliente_det_label {text-align: left;vertical-align: middle;}
.css_pais_cliente_det_line {height:0px;text-align: left;}
.css_cep_cliente_det_label {text-align: left;vertical-align: middle;}
.css_cep_cliente_det_line {height:0px;text-align: left;}
.css_usuario_login_det_label {text-align: left;vertical-align: middle;}
.css_usuario_login_det_line {height:0px;text-align: left;}
